include lucene++PYTHON_wrap.cxx
include include/lucene++PYTHON_wrap.h
include lucene.py
include setup.py
include test/*.py
include README.txt
recursive-include samples *.py
recursive-include samples/LuceneInAction/indexes **/*
recursive-include samples/LuceneInAction/data **/*

